# すべてのファイルを無視
*

# 特定のファイルを無視から除外
!**/*.cpp
!**/*.hpp
!**/*.ipp
!**/*.html
!**/*.conf
!**/Makefile
!**/README.md
!/Makefile
!/README.md
!/*.drawio
!/.gitignore

# 特定のディレクトリを無視から除外
!/
!/include
!/src
!/src/*
!/conf
!/wsv
!/wsv/*